lab0/algebra.py.bak
lab0/algebra_utils.py.bak
lab0/mitailabscripts.py
lab0/tests.py.bak
lab0/__pycache__/lab0.cpython-35.pyc
lab0/__pycache__/tests.cpython-35.pyc
lab0/__pycache__/algebra.cpython-35.pyc
lab0/Lab1/lab1/lab1.pyproj
lab0/Lab1/lab1/lab1.sln
lab0/Lab1/lab1/.vs/lab1/v14/.suo
lab0/Lab1/lab1/__pycache__/backchain.cpython-35.pyc
lab0/Lab1/lab1/__pycache__/lab1.cpython-35.pyc
lab0/Lab1/lab1/__pycache__/production.cpython-35.pyc
lab0/Lab1/lab1/__pycache__/tester.cpython-35.pyc
lab0/Lab1/lab1/__pycache__/tests.cpython-35.pyc
lab0/Lab1/lab1/__pycache__/utils.cpython-35.pyc
lab0/Lab1/lab1/__pycache__/zookeeper.cpython-35.pyc
lab0/Lab2/lab2.zip
lab0/Lab2/lab2/graphs.py.bak
lab0/Lab2/lab2/lab2.py.bak
lab0/Lab2/lab2/lab2.pyproj
lab0/Lab2/lab2/lab2.sln
lab0/Lab2/lab2/search.py.bak
lab0/Lab2/lab2/tester.py.bak
lab0/Lab2/lab2/tests.py.bak
lab0/Lab2/lab2/.vs/lab2/v14/.suo
lab0/Lab2/lab2/__pycache__/graphs.cpython-35.pyc
lab0/Lab2/lab2/__pycache__/lab2.cpython-35.pyc
lab0/Lab2/lab2/__pycache__/search.cpython-35.pyc
lab0/Lab2/lab2/__pycache__/tester.cpython-35.pyc
lab0/Lab2/lab2/__pycache__/tests.cpython-35.pyc
lab0/Lab3/lab3.zip
lab0/Lab3/lab3/lab3/basicplayer.py.bak
lab0/Lab3/lab3/lab3/connectfour.py.bak
lab0/Lab3/lab3/lab3/lab3.py.bak
lab0/Lab3/lab3/lab3/lab3.pyproj
lab0/Lab3/lab3/lab3/lab3.sln
lab0/Lab3/lab3/lab3/tester.py.bak
lab0/Lab3/lab3/lab3/tests.py.bak
lab0/Lab3/lab3/lab3/tree_searcher.py.bak
lab0/Lab3/lab3/lab3/util.py.bak
lab0/Lab3/lab3/lab3/.vs/lab3/v14/.suo
lab0/Lab3/lab3/lab3/__pycache__/basicplayer.cpython-35.pyc
lab0/Lab3/lab3/lab3/__pycache__/connectfour.cpython-35.pyc
lab0/Lab3/lab3/lab3/__pycache__/lab3.cpython-35.pyc
lab0/Lab3/lab3/lab3/__pycache__/tester.cpython-35.pyc
lab0/Lab3/lab3/lab3/__pycache__/tests.cpython-35.pyc
lab0/Lab3/lab3/lab3/__pycache__/tree_searcher.cpython-35.pyc
lab0/Lab3/lab3/lab3/__pycache__/util.cpython-35.pyc
lab0/Lab4/lab4.zip
lab0/Lab4/lab4/classify.py.bak
lab0/Lab4/lab4/csp.py.bak
lab0/Lab4/lab4/data_reader.py.bak
lab0/Lab4/lab4/lab4.py.bak
lab0/Lab4/lab4/lab4.pyproj
lab0/Lab4/lab4/map_coloring_csp.py.bak
lab0/Lab4/lab4/mat_vec_ops.py.bak
lab0/Lab4/lab4/moose_csp.py.bak
lab0/Lab4/lab4/sudoku_csp.py.bak
lab0/Lab4/lab4/ta_scheduling_csp.py.bak
lab0/Lab4/lab4/tester.py.bak
lab0/Lab4/lab4/tests.py.bak
lab0/Lab4/lab4/.vs/lab4/v14/.suo
lab0/Lab4/lab4/__pycache__/classify.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/csp.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/data_reader.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/lab4.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/map_coloring_csp.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/mat_vec_ops.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/moose_csp.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/tester.cpython-35.pyc
lab0/Lab4/lab4/__pycache__/tests.cpython-35.pyc
lab0/Lab5/lab5.zip
lab0/Lab5/lab5/boost.py.bak
lab0/Lab5/lab5/bpnn.py.bak
lab0/Lab5/lab5/data_reader.py.bak
lab0/Lab5/lab5/lab5.py.bak
lab0/Lab5/lab5/neural_net.py.bak
lab0/Lab5/lab5/neural_net_data.py.bak
lab0/Lab5/lab5/neural_net_tester.py.bak
lab0/Lab5/lab5/orange_for_6034.py.bak
lab0/Lab5/lab5/reindent.py.bak
lab0/Lab5/lab5/tester.py.bak
lab0/Lab5/lab5/tests.py.bak
lab0/Lab5/lab5/train_neural_net.py.bak
